body {
font-family: 'Raleway', sans-serif !important;
background: url(https://img.freepik.com/free-vector/global-network-connection-world-map-point_41981-1194.jpg?size=626&ext=jpg&ga=GA1.2.1096186936.1596672000);
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
background-size: cover;
text-align: center;
}
.button {
padding: 15px 25px;
font-size: 24px;
text-align: center;
cursor: pointer;
outline: none;
color: #fff;
background-color: #4CAF50;
border: none;
border-radius: 15px;
box-shadow: 0 9px #999;
}

.button:hover {background-color: #1569C7}

.button:active {
background-color: #368BC1;
box-shadow: 0 5px #666;
transform: translateY(4px);
}
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
padding-top: 100px; /* Location of the box */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
background-color: #fefefe;
margin: auto;
padding: 20px;
border: 1px solid #888;
width: 80%;
}
.close {
color: #aaaaaa;
float: right;
font-size: 28px;
font-weight: bold;
}
.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}
