body {
font-family: 'Raleway', sans-serif !important;
background: url(https://images6.alphacoders.com/913/913983.png);
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
background-size: cover;
text-align: center;
}